body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  border-bottom: 1px solid #ddd;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: black;
}

/* HERO */
.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

/* FILOSOFIA */
.filosofia {
  text-align: center;
  margin-top: 100px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 100px auto;
}

/* FOOTER */
.footer {
  text-align: center;
  margin-top: 50px;
}